.Radburn {
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: 'Playfair Display SC', serif;
  color: rgb(184, 76, 76);
  font-weight: bold;
}

.card-content {
  font-family: 'Libre Baskerville', serif;
}

/* .card-content {
  font-family: 'Heebo', sans-serif;
}

.card-content {
  font-family: 'Cinzel', serif;
}

.card-content {
  font-family: 'Catamaran', sans-serif;
}

.card-content {
  font-family: 'Domine', serif;
}

.card-content {
  font-family: 'Courgette', cursive;
}

.card-content {
  font-family: 'Playfair Display SC', serif;
}

.card-content {
  font-family: 'Yantramanav', sans-serif;
}

.card-content {
  font-family: 'Varela', sans-serif;
}

.card-content {
  font-family: 'Julius Sans One', sans-serif;
} */